* {
  margin: 0;
}

@font-face {
  font-family: 'TechKr';
  src: url('../../fonts/TECHKR__.TTF') format('truetype');
  /* Asegúrate de ajustar la ruta del archivo de fuente según tu estructura de carpetas */
}

.ContainerRobot {
  position: relative;
  height: 100Vh;
  width: 100vw;
  background-image: url('../../resouses/imgFondoRobot.jpg');
  background-size: cover;
}

.Btn_mic_off {
  background-image: url('/public/template/btn_mic_off.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 25vw;
  height: 15.5vh;
  top: 80vh;
  left: 38.5vw;
  z-index: 10;
}

.separador {
  background-image: url('/public/template/separador-static.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100vw;
  height: 16vh;
  top: 63vh;
  left: 0;
  z-index: 10;
}

.bootom-fade {
  background-image: url('/public/template/degradé-footer.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100vw;
  height: 50vh;
  top: 50vh;
  left: 0;
  z-index: 5;
}


.content-footer-Audio {
  position: absolute;
  width: 25vw;
  height: 18vh;
  top: 80vh;
  right: 5vw;
  z-index: 10;
}