.containerModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 46, 46, 0.5);
  backdrop-filter: brightness(90%) blur(4px);
  z-index: 100;
}

.modal {
  background-image: url('/template/popup-diagnostico1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 70%;
  height: 80%;
}

.modal .Text-area {
  position: absolute;
  top: 25%;
  left: 3%;
  width: 65%;
  max-height: 69%;
  overflow-y: scroll;
}

.CloseModal {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 80%;
  right: 13%;
  background-image: url('/template/btn-restart.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 8%;
  height: 12%;
}